# KiCAD
*-backups/
fp-info-cache
_autosave-*
*.bak
datasheets/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
*.swp

# Firmware build artifacts (for later)
Debug/
Release/
*.elf
*.bin
*.hex
*.map
*.o

*.d
# KiCAD lock files
~*.lck
*.lck

# Emacs autosave list
#auto_saved_files#
\#*\#
.\#*

# KiCAD local settings
*.kicad_prl
avio_proj_prac.md
stm32.kicad_sch.local-backup
